<h1 style="text-align: center;">Empleado!</h1>
<p>Nombre del empleado: {{nombre}}</p>
<p>Apellido del empleado: {{apellido}}</p>
<p>Edad del empleado: {{edad}}</p>
<p>Empresa del empleado: {{empresa}}</p>

<p>Direccción del empleado: {{direccion.value}}</p>

Introduce la dirección: <input type="text" #direccion>

<br/>
<input type="button" value="Haz clic!" (click)="llamaDireccion(direccion.value)" />

<br/>
<p>Código Postal del empleado: {{codigoPostal.value}}</p>

Introduce el Código Postal: <input type="text" #codigoPostal (keyup)="0">

<br/><br/>

{{textoDeRegistro}}<br/>

Registrado: <input type="radio" name="registrado" value="si" id="registro" [checked]="usuarioRegistrado" (click)="setUsuarioRegistrado($event)"/><br/>

No Registrado: <input type="radio" name="registrado" value="no" [checked]="usuarioNoRegistrado" (click)="setUsuarioRegistrado($event)"/><br/>

<br/>{{direccionEmpresa}}<br/>

Dirección Empresa: <input type="text" (input)="cambiarDireccionEmpresa($event)" /><br/>

<br/>{{telefonoEmpresa}}<br/>

Teléfono Empresa: <input type="text" [(ngModel)]="telefonoEmpresa" />

